.paper-page .paper-photo{
  position:relative;
  overflow:hidden;
}
.paper-page .paper-photo>img{
  display:block!important;
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:center;
}
